body {
    background-color: rgb(204, 255, 253);
    background-attachment: fixed;
    font-family: "Nunito", sans-serif;
    margin: 0;
}

@font-face {
  font-family: 'Nunito';
  font-stretch: PERCENTAGE_RANGE_LOW_TO_HIGH; /* Note that font-stretch is a % of normal width */
  font-style: NORMAL; /* See note below */
  font-weight: 400;
  src: url(./Fontit/Nunito/Nunito-VariableFont_wght.ttf);
}

html {
  font-family: Nunito, sans-serif;
}

* {
    box-sizing: border-box;
  }

@keyframes fadeAndSlideDown {
  0% {
    opacity: 0;
    transform: translate(0%, -50%) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  
}

@keyframes fadeAndSlideDownTextBox {
  0% {
    opacity: 0;
    transform: translate(0%, -20px) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 153, 148, 0.9);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

li a:hover {
  background-color: rgba(0, 128, 123, 0.6);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.active {
  background-color: rgba(0, 128, 123, 0.6);
}

.button {
  background-color: rgba(0, 153, 148, 0.0);
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
  float: right;
  box-sizing: border-box;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

h1 {
    color: rgb(0, 153, 148);
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    animation: fadeAndSlideDown 0.5s; /* Käynnistä animaatio */
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
    height: auto;
    padding: 20px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.2);
    animation: fadeAndSlideDownTextBox 0.5s; /* Käynnistä animaatio */
}

@media screen and (max-width: 600px) {
  .text-box {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .infopalkki {
    width: 90%;
  }
}

.fa-ul {
  padding-left: 20px;
  display: inline-block;
  margin: auto;
}

.fa-li {
  margin-left: auto;
  color: rgb(0, 153, 148);

}

.list {
  width: 100%;
  color: rgb(0, 0, 0);
  list-style: none;
  line-height: 2.0;
}

.footer {
    display: block;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(0, 153, 148, 0.9);
    box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.2);
}